@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background: rgb(45, 45, 45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: whitesmoke;
}

.btn-container {
  border: 2px solid black;
  padding: 6px;
  border-radius: 8px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.7);
}

button {
  background: linear-gradient(to top, #575757, #797979);
  padding: 18px 28px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  color: white;
  text-shadow: 0 2px 5px black;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4),
              0 8px 8px 0px rgba(0, 0, 0, 0.3);
}

button:focus, button:active {
  outline: none;
}

button:hover {
  background: linear-gradient(to top, #797979, #575757);
}

button:active {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3)
}
